{% extends 'products/base.html' %}
{% block title %} Register {% endblock  %}
{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-4 offset-md-3">
            <h3>Register</h3>
            <hr>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-primary" value="Register">
                <p>if u have already an acoount <a class="btn btn-link" href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}